/* Appliquer l'effet de zoom et d'ombre au survol de toutes les images */
img:hover {
    transform: scale(1.1); /* Agrandit légèrement l'image */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); /* Accentue l'ombre */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Transition fluide */
}

/* Ton CSS existant reste inchangé */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: rgb(65, 67, 70);
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 0.5em;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 0 1em;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: auto;
    width: 100%;
}
section#CV {
    padding-bottom: 65px;
}

p {
    line-height: 1.5;
}

.jauge-container {
    width: 50%;
    margin: 50px auto;
}

.jauge {
    width: 100%;
    height: 30px;
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
}

.jauge-fill {
    height: 100%;
    background-color: black;
    border-radius: 5px;
}

.pourcentage {
    position: relative;
    top: 100%;
    left: 100%;
    transform: translate(-50%, -50%);
    color: #000;
    font-weight: bold;
}

.passion-item img {
    max-width: 100%;
}
.menu.visible {
    left: 0;
    visibility: visible; /* Rend le menu visible */
}

#photoProfil {
    width: 100px; 
    height: 100px;
    border-radius: 25%; 
    margin-left: 20px; 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.textecote {
    font-family: 'Arial', sans-serif;
} 

.profil-container {
    display: flex; 
    align-items: center;
}

h2 {
    font-size: 3rem; /* Taille du texte plus grande */
    font-family: 'Poppins', sans-serif; /* Une belle police moderne */
    font-weight: bold; /* Texte en gras */
    color: #333; /* Couleur sombre pour une meilleure lisibilité */
}

.contenu {
    display: flex;
    align-items: center; /* Aligne le texte et l'image au centre verticalement */
    margin-bottom: 20px; /* Espace entre les différentes sections */
    padding: 0 10%;
}

.texte {
    flex: 1; /* Prend tout l'espace disponible sauf celui de l'image */
    margin-right: 15px; /* Espace entre le texte et l'image */
    line-height: 1.5; /* Hauteur de ligne pour réduire les espaces entre les lignes de texte */
}

.image-droite {
    width: 35%;
    height: auto;
}

strong {
    font-weight: 900; /* Valeur maximale pour un texte très gras */
    color: #000; /* Facultatif : Assurez une couleur foncée pour plus de contraste */
}
